@charset "UTF-8";

*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #f1f1f1;
    height: 100w;
    overflow: hidden;
}

.game-area {
    margin: .25rem;
    padding: .5rem;
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-rows: 7fr .5fr 7fr;
}



/* PLAYER AREA */

.player-area{
    padding: .5rem;
    background-color: #3d72bb;
    display: grid;
    grid-template-rows: 1fr 1fr;
    box-shadow: 5px 5px 5px rgb(68, 68, 68);
    border-radius: 10px;
}

/* OPONENT AREA */
.oponent-area{
    padding: .5rem;
    background-color: #d45959;
    display: grid;
    grid-template-rows: 1fr 1fr ;
    box-shadow: 5px 5px 5px rgb(68, 68, 68);
    border-radius: 10px;
}

/* AVATAR */

.area-avatar{
    width: 150px; 
    height: 150px; 
    overflow: hidden; 
    border: 2px solid #ccc; 
    border-radius: 8px; 
    box-shadow: 5px 5px 5px rgb(68, 68, 68);
    border-color: black;
    /* display: flex;
    align-items: center; */
}

.avatar-image {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    background-color: #ffffff;
    
}


/* DECK AREA */

.deck-zone{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    
}

.deck-zone .grave-area{
    background-color: #fa4545;
    width: 100px;
    height: 145px;
    border-radius: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 5px rgb(68, 68, 68);
    border-color: black;
}

.deck-zone .deck-area{
    background-color: #3cf745;
    width: 100px;
    height: 145px;
    border-radius: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 5px rgb(68, 68, 68);
    border-color: black;
}

.deck-area span, .grave-area span{
    visibility: hidden;
    font-size: 3rem;
    
    
}

.deck-area:hover span, .grave-area:hover span{
    visibility: visible;
}

/* MAIN AREA */

.main-zone{
    padding: .5rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
    
}

.oponent-area .main-zone{
    align-items: end;
    
}

.card-area, .card-area-op{
    width: 110px;
    height: 155px;
    border: 1px dashed #202020;
    border-radius: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 5px rgb(68, 68, 68);
}

.area-atk, .area-atk-op{background-color: #ffffff;} 
.area-spd, .area-spd-op{background-color: #ffffff;}
.area-def, .area-def-op{background-color: #ffffff;}

/* PLAYER ZONE */

.player-zone{
    display: grid;
    grid-template-columns: 7fr 3fr;
    padding: .5rem;
    
}

.oponent-zone{
    display: grid;
    grid-template-columns: 3fr 7fr;
    padding: .5rem;
    
}

.player-hand{
    display: flex;
    gap: .5rem;
    list-style: none;
    padding: .25rem;
    height: 100%;
    justify-content: center;
    align-items: center;
    
}

.player-hand ol{
    list-style: none;
    margin: .25rem;
    padding: .25rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    height: 100%;
    

}

.card{
    background-color: #f1a35a;
    width: 100px;
    height: 145px;
    display: flex;
    text-align: center;
    justify-items: center;
    border-radius: .5rem;
    box-shadow: 5px 5px 5px rgb(68, 68, 68);
}

.card .card-content{
    width: 100%;
    padding: .25rem;
    
}

.card-content .card-img{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .25rem;
}

.card-img img{
    width: 85px;
    pointer-events: none;
}
.card-content .card-status{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.card-status .status{
    padding: .15rem;
    border-radius: 2rem;
    justify-content: center;
    align-items: center;
}

.card-status .atk{background-color: #fa4545;}
.card-status .spd{background-color: #3cf745;}
.card-status .def{background-color: #5295f3;}


/* MID-BOARD*/

.midboard{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
}

/* TIMER */

.scoreboard{
    display: flex;
    justify-content: center;
    align-items: center;
}
.scoreboard span{
    font-size: 1.5rem;
}


/* button */
.button-area{
    padding: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.button-size{
    width: 100%;
    height: 100%;
}

.btnAction{
    display:block;
    width: 100%;
    height: 100%;
    border-radius: 2rem; 
    background-color: #9af347;
    border: none;
}


.drag-over {
    border: dashed 2px #ff0000;
}

.hide{
    display: none;
}


/* BATTLE */
.battle{
    outline: none;
    display: none;
    width: 100%;
    height: 100vh;
    z-index: 1;
    margin: 0;
    
    position: absolute;
    position: fixed;
    top: 0;
    align-items: center;
    justify-content: center;
}

.start{
    background-color: #00000091;
}

.txtBattle{
    font-size: 3rem;
    color: #ffffff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: 700;
}


#player-name{
    margin-right: 2rem;
}

#oponent-name{
    margin-left: 2rem;
}