@charset "UTF-8";

*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #f1f1f1;
    height: 100w;
    overflow: hidden;
}

.game-area {
    margin: .25rem;
    padding: .5rem;
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-rows: 7fr 1fr 7fr;
}



/* PLAYER AREA */

.player-area{
    padding: .5rem;
    background-color: #a4caff;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

/* OPONENT AREA */
.oponent-area{
    padding: .5rem;
    background-color: #ffa4a4;
    display: grid;
    grid-template-rows: 1fr 1fr ;
}


/* DECK AREA */

.deck-zone{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.deck-zone .grave-area{
    background-color: #fa4545;
    width: 100px;
    height: 145px;
    border-radius: .5rem;
}

.deck-zone .deck-area{
    background-color: #3cf745;
    width: 100px;
    height: 145px;
    border-radius: .5rem;
}

/* MAIN AREA */

.main-zone{
    padding: .5rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.main-zone .card-area{
    width: 100px;
    height: 145px;
    border: 1px dashed #202020;
    border-radius: .5rem;
}

.area-atk{background-color: #ffffff;}
.area-spd{background-color: #ffffff;}
.area-def{background-color: #ffffff;}

/* PLAYER ZONE */

.player-zone{
    display: grid;
    grid-template-columns: 7fr 3fr;
    padding: .5rem;
}

.oponent-zone{
    display: grid;
    grid-template-columns: 3fr 7fr;
    padding: .5rem;
}

.player-hand{
    display: flex;
    gap: .5rem;
    list-style: none;
    padding: .25rem;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.player-hand ol{
    list-style: none;
    margin: .25rem;
    padding: .25rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    height: 100%;

}

.player-hand .card{
    background-color: #f1a35a;
    width: 100px;
    height: 145px;
    display: flex;
    text-align: center;
    justify-items: center;
    border-radius: .5rem;
}

.card .card-content{
    width: 100%;
    padding: .25rem;
}

.card-content .card-img{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .25rem;
}

.card-img img{
    width: 85px;
}
.card-content .card-status{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.card-status .status{
    padding: .15rem;
    border-radius: 2rem;
    justify-content: center;
    align-items: center;
}

.card-status .atk{background-color: #fa4545;}
.card-status .spd{background-color: #3cf745;}
.card-status .def{background-color: #5295f3;}


/* TURN-TIMER */

.turn_timer{
    display: grid;
    grid-template-columns: 7fr 2fr;
}

/* TIMER */

.timer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.timer span{
    font-size: 1.5rem;
}

/* button */
.button-area{
    padding: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.button-size{
    width: 100%;
    height: 100%;
}

.button-area button{
    display:block;
    width: 100%;
    height: 100%;
    border-radius: 50%; 
    background-color: #9af347;
    border: none;
}